/*COLOR PALETTE
Verde oliva: #749044
petrolio asparago: #405945
Carta da zucchero scura lacustre: #3c8c74
rosa antico biancastro schifetto : #d8c9a9
Betulla bianchetta: #f1f2e6
Heavy metal de base nero: #0c0d0c
*/


@font-face {
    font-family: 'Typewriter_Condensed';
    src: url('fonts/Typewriter_Condensed-Bold.woff2') format('woff2'),
        url('fonts/Typewriter_Condensed-Bold.woff') format('woff'),
        url('fonts/Typewriter_Condensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typewriter_Condensed';
    src: url('fonts/Typewriter_Condensed.woff2') format('woff2'),
        url('fonts/Typewriter_Condensed.woff') format('woff'),
        url('fonts/Typewriter_Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typewriter_Condensed_Demi';
    src: url('fonts/Typewriter_Condensed_Demi.woff2') format('woff2'),
        url('fonts/Typewriter_Condensed_Demi.woff') format('woff'),
        url('fonts/Typewriter_Condensed_Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('fonts/RobotoMono-Regular.woff') format('woff'),
        url('fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BadlyStamped';
    src: url('fonts/BadlyStamped.woff2') format('woff2'),
        url('fonts/BadlyStamped.woff') format('woff'),
        url('fonts/BadlyStamped.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Another Typewriter';
    src: url('fonts/AnotherTypewriter.woff2') format('woff2'),
        url('fonts/AnotherTypewriter.woff') format('woff'),
        url('fonts/AnotherTypewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
  font-family: "La_Beauties";
  src: url(fonts/La\ Beauties.ttf);

}

.covertitle::first-letter{
    font-family: "BadlyStamped"!important;
}

html{
    overflow-x: hidden;
}

::selection{
    background-color: #405945;
    color: #d8c9a9;
}

.home{
    color: #333333;
    background-color: #f1f2e6;
}

.row{
    display: flex;
    margin: 21px;
}

.menucontainer{
    margin-top: 2em;
    margin-bottom: 6em;
    text-align: center;
}


body{
    padding-top: 20px;
    font-family: "Typewriter_Condensed" !important;
    font-size: 20px;
    overflow-x: hidden;
    width:100%;
    overflow-y: hidden;
}



.home h1{
    font-family: "Another Typewriter";
}

.homepage {
  background-color: #ededed;
  color: #343434;
  align-items: center;
  justify-content: justify;
  min-height: 100vh;
  margin-left:15%;
  margin-right:15%;
  padding: 1em;
}

@media all and (max-width: 580px) {
    .homepage {
      background-color: #ededed;
      color: #343434;
      align-items: center;
      justify-content: justify;
      min-height: 100vh;
      column-count: 1;
    }}


@media all and (max-width: 650px) {
.container {
  display:block;
}}

.covertitle{
    text-align:center;
    font-size: 8vw;
    font-family: "Another Typewriter";
    align-content: flex-end;
    color: #d8c9a9;
    padding: 20px;
}

.first-letter {
    font-family: "BadlyStamped";
  }



#covertextbox{
    align-content: center;
    text-align: center;
    margin: .5em;
    margin-left: 0em;
    padding-top: 55px;
}


#coversubtitle {
    font-family: 'La_Beauties';
    text-align: center;
    font-size: 6vw;
    align-content: flex-end;
    color: #f1f2e6 ;
}


#item {
    min-height:450px;
    background: linear-gradient(201deg, #749044, #405945, #3c8c74, #0c0d0c);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 55s ease infinite;
    -moz-animation: AnimationName 55s ease infinite;
    animation: AnimationName 55s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}
@keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}



.pagetitlecontainer{
    margin-top: 4em;
    padding-top: 1em;
}

.pagetitle{
    text-align:center;
    font-family: "Another Typewriter" !important;
}

.home h2{
    font-family: "North Avellion";
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
}

.homepage h1{
    font-weight: bolder;
    border-bottom: solid 3px;
    border-image: linear-gradient(to bottom right, #EEEEEE 0%, #DDDDDD 25%, #CCCCCC 50%, #BBBBBB 75%, #333333 100%);
    border-image-slice: 1;
}

.home h3{
    font-family: "Another Typewriter";
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #333333;

}

.pagesubtitlecontainer{
    margin-top: 0em;
    padding-top: 1em;
    font-size: 30px;
}


.btn-secondary{
    background-color: #d3cdcd !important;
    border-color: #0c0d0c !important;
    font-size: 13px !important;
}
#butrow{
    margin-top: 35px;
    max-height: 25px;
    display:inline-table;
    line-height: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-toggleable-md .navbar-collapse {
       -webkit-justify-content: flex-end;
       justify-content: flex-end;
}
.navbar{
    background-color:#0c0d0c !important;
}

.navbar a{
    color:  #d8c9a9 !important;
}

.navbar-header{
    align-content: flex-start;
}


#divfacciata{
    background-color: #0c0d0c;
    color: #d8c9a9;
    font-size: 20px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: justify;
    min-height:150px;
}

.italics {
  font-style: italic;
}

#item1{
    align-content: center;
    min-height:15em;
    background-size:cover;
    margin-top: 1em;
    padding-top: 1em;
    padding: 0em;
    padding-left: 1em;
    padding-right: 1em;

}



#item2{
    min-height:10em;
    background-size:cover;
    margin-top: 1em;
    margin: 1em;

}

#item4{
    align-content: center;
    min-height:15em;
    background-size:cover;
    margin-top: 2em;
    padding-top: 1em;
    padding: 2em;

}

#item5{
    align-content: center;
    min-height:15em;
    background-size:cover;
    margin-top: 2em;
    padding-top: 1em;
    padding: 2em;

}

a.nav-link{
    font-size:22px;
}
.nav-item.active> a:hover, .dropdown> a:hover {
    color:#d8c9a9;
    background-color: #405945;
}

.dropdown-menu> a:hover{
    background-color: #405945;
}

.navbar-custom{
    background-color: #0c0d0c;
    color: #d8c9a9;
}

.nav-item{
    color:aliceblue;
    background-color: #0c0d0c;
}

.navbar-nav > li > .dropdown-menu {
    color: #564f4f;
    background-color: #0c0d0c;}

#lod{
    font-family: BadlyStamped;
    font-size: 300px;
    font-weight:300;
}

/*non riesco a cambiare il clore del testo nella navbar*/

.navbar-brand{
    object-position: center;
    color: white;
    background-color: #0c0d0c;
    border-radius: 0%;
    margin:0px;
    padding: 3px;
}

.dropdown-menu{
    color: black;
}


p{
    margin-top: 1em;
    padding: 1em;
}

.homepage p:first-of-type:first-letter{
    float:left;
    font-size:500%;
    margin-right:5px;
    color: #EEEEEE;
    text-shadow: 2px 2px 5px #404040;
    font-family: "Another Typewriter";
    margin-top:-8px;
    margin-bottom: -10px;
    background-clip:content-box;
    padding-bottom:0px;
}

@media all and (max-width: 580px) {
    .homepage p:first-of-type:first-letter{
    font-size: 20vw}
}


.card-title {
    font-family: "Another Typewriter" !important;
    color:#d8c9a9;
    font-size: 30px;
    display: inline-block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4.card-title a{
    font-family: "Another Typewriter" !important;
    font-size: 30px;
    color: #d8c9a9;
}

@media all and (max-width: 580px) {
    h4.card-title a{
    font-size: 10vw !important;}
}

btn.stretched-link a{
    font-size: 30px;
}

.card-text{
    padding: 1em;
    padding-bottom: 8em;
    max-height:inherit;
    text-align:justify;
    font-size: 20px;
    max-width: inherit;
    font-stretch: extra-condensed;
    font-style: normal;
    flex-wrap: wrap;
    color:#f1f2e6;

}



a {
    color: honeydew;
    white-space: normal !important;
}


#cardBio{
    padding: 1em;
    /*margin: 1em;*/
    background-color: #405945;
    border-radius: 0px;

}

#cardRethorics{
    padding: 1em;
    background-color: #405945;
    border-radius: 0px;

}

#cardCritics{
    padding: 1em;
   /*margin: 1em;*/
    color: #E9D4D8;
    background-color: #405945;
    border-radius: 0px;

}

#cardFreqWords{
    padding: 1em;
    background-color: #749044;
    border-radius: 0px;

}
#cardSentAnalysis{
    padding: 1em;
    background-color: #749044;
    border-radius: 0px;

}

#cardEmotionDetection{
    padding: 1em;
    background-color: #749044;
    border-radius: 0px;

}#cardTopicModeling{
    padding: 1em;
    background-color: #749044;
    border-radius: 0px;

}

#cardOntology{
    padding: 1em;
    background-color: #3c8c74;
    border-radius: 0px;

}


#cardRemix{
    padding: 1em;
    /*margin: 1em;*/
    background-color: #0c0d0c;
    border-radius: 0px;
}


#footerdiv{
    background-color: #0c0d0c;
    margin: 0px;
    padding: 0px;
}



#footercol1{
    align-content: center;
}

#footercol2{
    align-content: center;
    padding:1em;
    margin: 1em;
}

#footercol3{
    align-content: center;
    padding:1em;
    margin: 1em;
}

.footercoltext{
    font-size: 90%;
    word-break: break-all;
}
.footercoltext a{
    color: #749044;
}

.footercoltext a:hover{
    color: #3c8c74;
}




div img {
    height: 100%;
    width: 100%;
}

.homepage figure,.homepage img{
    max-width: 200px;
    margin: auto;
    display: block;
}

#logo{
    max-height:100px;
    max-width: 130px;
}

footer{
    max-height: 200px;
}

footer p{
    color:#EDEDED;
}

footer h4{
    color: #9b9b9b !important;
}

.crnotice{
    text-align:center;
    font-family: 'Another Typewriter';
    color: honeydew;
    font-size: 85%;
}

.footersectionheader{
    color: honeydew;
    text-align:center;

}

#footercol1{
    margin-top: 20px;
    padding-top:20px;
}

.card-body{
    padding:0.25rem;
}

.card{
    height: 90%;
    border: 9px double #f1f2e6 !important;
    transition: transform .3s;
}

.card:hover{
  box-shadow: 16px 10px 16px 0 rgba(0,0,0,0.2);
  transform: scale(0.9);
}

.card img{
    border-radius: 5%;
    border: 8px double white;
}

.homepage figure.palettecolor,.homepage img.palettecolor{
    max-width: 100px;
    margin: auto;
    display: inline;
}


.menucontainer{
    margin-top: 2em;
    margin-bottom: 6em;
    text-align: center;
}

/*#EEEEEE , #DDDDDD, #CCCCCC, #BBBBBB, #333333*/

div .dropdown-menu{
    background-color: #CCCCCC;}

.menubtn{
    background-color: #333333;
    color:#EEEEEE;
    margin:2px;
}

.btn-group>.btn{
    border-radius: 0;
    border:1px solid #333333;
}

.btn-group>.dropdown-menu{
    border-radius: 0;
}


.palettecolor{
    max-width: 100px;
}
#item6 div{
    margin-top: 3em;
    margin-bottom: 3em;
}

#item6 li{
    color:#333333;
}

#item6 div a{
    color: #333333;
    font-weight: bolder;
}

#item6 div img{
    margin-top:1em;
    margin-bottom: 1em;
    border: 5px solid #333333;
    border-image: linear-gradient(to bottom right, #EEEEEE 0%, #DDDDDD 25%, #CCCCCC 50%, #BBBBBB 75%, #333333 100%);
    border-image-slice: 1;
}

#item6 div h1{
    text-transform: uppercase;
    text-align: center;
    color: #333333;
}

#item6 div h2, #item6 div h3{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.palettecontainer{
    display: flex;
    max-width: inherit;
    flex-wrap: wrap;
}
